.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: white;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

header {
  position: sticky;
  top: 0;
  background: linear-gradient(to bottom right, rgb(112, 202, 255), rgb(0, 170, 212));
  border-bottom: solid black 2px;
  padding: 10px;
}